body
	background-color: #A0D790
			
#btn-guardar
	display inline

#contenido
	background-color: white
	border-radius: 3px 3px 3px 3px
	box-shadow: 0 6px 12px rgba(0,0,0,.25)
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.25)
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.25)
	margin: 5px
	padding: 10px
	position: relative

#info_menu
	padding 1em
	margin 0

	#cont
		height 20px
		vertical-align middle
		min-width 30px
		text-align right

	h4
		text-align center
		position left
	
	a, li
		font-size 0.7em
		line-height 1.5em
		text-align left
		text-decoration none
		vertical-align middle
	p
		text-align center
	
	ul
		margin-top 1em

#menu_auditoria
	.accordion-body
		text-align right
		
		a
			color black
			text-decoration none

		.accordion-inner
			.usuario
				font-size 0.9 em
				text-align left

#logo
	margin 0
	padding 0
	width 65px

#registro
	
	legend
		font-size 1.5em
		line-height 25px

#sombras
	box-shadow: 0 6px 12px rgba(0,0,0,.25)
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.25)
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.25)

#vista, .menu_lateral
	min-height 250px 

.administracion
	font-size 0.9em

	.cabecera, .cuerpo
		padding 0.2em
	
	.cabecera
		height auto

		.fecha
			display inline
			float right
			padding-right 0.2em

			a
				text-decoration none

		.numero
			border-right 1px solid #DDDDDD
			display inline-block
			padding-right 0.3em

		.usuario
			display inline

.anexos
	width 100%

.box-content
	background: #fcfcfc
	border: 1px solid #ddd
	border-radius: 0px 0px 2px 2px
		-webkit-border-radius: 0px 0px 2px 2px
		-moz-border-radius: 0px 0px 2px 2px
	margin-bottom: 10px
	margin-top: -1px
	padding: 10px

.box-header
	background-color: #fafafa
	background-image: linear-gradient(to bottom, #fafafa, #efefef)
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0)
		-webkit-box-shadow: none
		-moz-box-shadow: none
	border: 1px solid #ddd
	border-radius: 2px 2px 0px 0px
		-webkit-border-radius: 2px 2px 0px 0px
		-moz-border-radius: 2px 2px 0px 0px
	box-shadow: none
	height: 20px
	margin-bottom: -1px
	padding: 10px
	
	
	h2
		color: #646464
		float: left
		font-size: 16px
		font-weight: normal
		line-height: 16px
		margin-top: 2px
		text-shadow: 0px 1px 0px #fff

.box-small
	display: block
	margin: 20px
	text-align: center
	position: relative
	min-width: 40%
	
.box-small-link
	background-color: #fafafa
	background-image: linear-gradient(to bottom, #fafafa, #efefef)
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0)
		-webkit-box-shadow: none
		-moz-box-shadow: none
	border: 1px solid #ddd
	border-radius: 2px
	box-shadow: none
		-webkit-border-radius: 2px
		-moz-border-radius: 2px
	color: #646464
	display: block
	font-size: 26px
	margin-bottom: -1px
	padding: 30px 0px
	text-shadow: 0px 1px 1px #fff

.box-small-link:hover
	background-color: #4e525d
	background-image: linear-gradient(to bottom, #4e525d, #3c4049)
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4e525d', endColorstr='#3c4049', GradientType=0)
		-webkit-box-shadow: none
		-moz-box-shadow: none
	border: 1px solid #3c4049
	color: #fff
	margin-bottom: -1px
	padding: 30px 0px
	text-decoration: none
	text-shadow: 0px 1px 1px #000

.box-small-title
	color: #aaa
	font-size: 16px
	margin: 10px auto
	text-align: center
	text-shadow: 0px 1px 1px #fff

.clear
	clear: both

.enlace_fotos
	color black
	text-decoration: none

.error
	color: red

.exito
	color green

.anexo_foto, .anexo_pdf
	display inline-block
	font-size 0.9em
	margin 10px
	padding 0px 0px 15px 0px
	width 205px
	

.anexo_pdf
	img
		height 160px
		text-align center
		margin 0 auto

.anexo_foto

	img
		height 160px
		width 240px
		min-height 120px
		min-width 160px
		
.graficos
	min-width 400px
	height 400px
	margin 0 auto

.derecha
	text-align right

.notification
	border-radius: 50em
	-webkit-border-radius: 50em
	-moz-border-radius: 50em
	border-style: solid
	border-width: 1px
	box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3)
	-webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3)
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3)
	color: white !important
	height: 16px
	line-height: 16px
	padding: 6px 10px
	position: absolute
	right: -16px
	top: -16px
	text-shadow: 0 1px hsla(0, 0%, 0%, 0.25)

.notification-small
	border-radius: 50em
	-webkit-border-radius: 50em
	-moz-border-radius: 50em
	border-style: solid
	border-width: 1px
	-webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3)
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3)
	box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3)
	color: white !important
	padding: 2px 7px
	text-shadow: 0 1px hsla(0, 0%, 0%, 0.25)

.notification-small, 
.notification
	background-color: #67C2EF
	background-image: linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%))
	border-color: #2FABE9

.notification-small.green,
.notification.green
	background-color: #78CD51
	background-image: linear-gradient(top,  hsl(101, 54%, 71%), hsl(101, 55%, 56%))
	border-color: #5AAD34
	
.notification-small.yellow,
.notification.yellow
	background-color: #FABB3D
	background-image: linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%))
	border-color: #F4A506

.notification-small.red,
.notification.red
	background-color: #FA603D
	background-image: linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%))
	border-color: #FA5833

.ocultar
	display: none

.select_lateral
	width: 100%
	max-width: 250px

.solicitud
	border-radius 0.3em
	padding 0.2em
	text-align justify
	
	.cabecera
		padding 0.4em
		
		.fecha_solicitud
			float left

		.iconos
			display inline

		.numero, .solicitante
			border-radius 0.3em 0.3em 0 0
			display inline
			padding 0.2em
		
		.numero
			float right
			padding 0

		.solicitud
			float left

	.cuerpo
		cursor pointer
		padding 0.3em

		p
			display inline

		.descripcion
			color black
			display inline-block
			height 3em
			overflow hidden
			text-decoration none

		.descripcion:hover
			height 5em
			text-decoration none
			transition all 0.5s ease

		.fecha_solicitud
			border 1px solid black
			display inline-block
			float right

	/*Cuando la solicitud este solucionada*/
	.solucionado
		background #6DE18A
		border 1px solid green

.tabla_graficos
	th
		text-align left

/*Cuando la solicitud esta en tramite*/
.tramitando
	background #F4D67C
	border 1px orange 

.vacio
	color: #0C35C7